In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../../../Documents/DS Files/microdados_enem_2019_sp.csv', sep=';', encoding='iso-8859-1')
df

,NU_INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q025
0,"1,90E+11",3546801,Santa Isabel,35,SP,22,M,1,3,1,...,6002.0,0,1.0,160.0,200.0,180.0,200.0,200.0,940.0,B
1,"1,90E+11",3538204,Pinhalzinho,35,SP,19,M,1,3,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,"1,90E+11",3550308,São Paulo,35,SP,17,F,1,3,1,...,7318.0,0,1.0,160.0,120.0,200.0,200.0,200.0,880.0,A
3,"1,90E+11",3548708,São Bernardo do Campo,35,SP,19,M,1,3,1,...,3932.0,1,1.0,80.0,160.0,120.0,100.0,100.0,560.0,B
4,"1,90E+11",3549409,São Joaquim da Barra,35,SP,37,M,2,1,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813767,"1,90E+11",3550308,São Paulo,35,SP,17,F,1,2,1,...,432.0,1,1.0,80.0,120.0,140.0,120.0,100.0,560.0,B
813768,"1,90E+11",3550308,São Paulo,35,SP,17,F,1,3,1,...,4873.0,0,1.0,120.0,80.0,60.0,120.0,0.0,380.0,B
813769,"1,90E+11",3550308,São Paulo,35,SP,17,M,1,3,1,...,4011.0,0,1.0,160.0,120.0,160.0,140.0,160.0,740.0,A
813770,"1,90E+11",3509205,Cajamar,35,SP,21,F,1,3,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
813771,"1,90E+11",3503307,Araras,35,SP,18,F,1,1,1,...,5595.0,0,1.0,120.0,120.0,120.0,120.0,140.0,620.0,B

In [3]:
df.dtypes

NU_INSCRICAO                object
CO_MUNICIPIO_RESIDENCIA      int64
NO_MUNICIPIO_RESIDENCIA     object
CO_UF_RESIDENCIA             int64
SG_UF_RESIDENCIA            object
NU_IDADE                     int64
TP_SEXO                     object
TP_ESTADO_CIVIL              int64
TP_COR_RACA                  int64
TP_NACIONALIDADE             int64
CO_MUNICIPIO_NASCIMENTO    float64
NO_MUNICIPIO_NASCIMENTO     object
CO_UF_NASCIMENTO           float64
SG_UF_NASCIMENTO            object
TP_ST_CONCLUSAO              int64
TP_ANO_CONCLUIU              int64
TP_ESCOLA                    int64
TP_ENSINO                  float64
IN_TREINEIRO                 int64
CO_ESCOLA                  float64
CO_MUNICIPIO_ESC           float64
NO_MUNICIPIO_ESC            object
CO_UF_ESC                  float64
SG_UF_ESC                   object
TP_DEPENDENCIA_ADM_ESC     float64
TP_LOCALIZACAO_ESC         float64
TP_SIT_FUNC_ESC            float64
TP_PRESENCA_CN               int64
TP_PRESENCA_CH               int64
TP_PRESENCA_LC               int64
TP_PRESENCA_MT               int64
NU_NOTA_CN                 float64
NU_NOTA_CH                 float64
NU_NOTA_LC                 float64
NU_NOTA_MT                 float64
TP_LINGUA                    int64
TP_STATUS_REDACAO          float64
NU_NOTA_COMP1              float64
NU_NOTA_COMP2              float64
NU_NOTA_COMP3              float64
NU_NOTA_COMP4              float64
NU_NOTA_COMP5              float64
NU_NOTA_REDACAO            float64
Q025                        object
dtype: object

In [4]:
df.shape

(813772, 44)

In [5]:
df = df.drop(columns=['CO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'CO_MUNICIPIO_NASCIMENTO', 'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO', 'TP_ANO_CONCLUIU', 'TP_ENSINO', 'CO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC'],)

In [6]:
df

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,IN_TREINEIRO,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q025
0,"1,90E+11",Santa Isabel,22,M,1,3,1,1,1,0,...,6002.0,0,1.0,160.0,200.0,180.0,200.0,200.0,940.0,B
1,"1,90E+11",Pinhalzinho,19,M,1,3,1,1,1,0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,"1,90E+11",São Paulo,17,F,1,3,1,2,3,0,...,7318.0,0,1.0,160.0,120.0,200.0,200.0,200.0,880.0,A
3,"1,90E+11",São Bernardo do Campo,19,M,1,3,1,2,2,0,...,3932.0,1,1.0,80.0,160.0,120.0,100.0,100.0,560.0,B
4,"1,90E+11",São Joaquim da Barra,37,M,2,1,1,1,1,0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813767,"1,90E+11",São Paulo,17,F,1,2,1,2,2,0,...,432.0,1,1.0,80.0,120.0,140.0,120.0,100.0,560.0,B
813768,"1,90E+11",São Paulo,17,F,1,3,1,2,2,0,...,4873.0,0,1.0,120.0,80.0,60.0,120.0,0.0,380.0,B
813769,"1,90E+11",São Paulo,17,M,1,3,1,2,2,0,...,4011.0,0,1.0,160.0,120.0,160.0,140.0,160.0,740.0,A
813770,"1,90E+11",Cajamar,21,F,1,3,1,1,1,0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
813771,"1,90E+11",Araras,18,F,1,1,1,2,2,0,...,5595.0,0,1.0,120.0,120.0,120.0,120.0,140.0,620.0,B

In [7]:
df.shape

(813772, 29)

In [8]:
df.loc[:, ['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT']] /= 10
df

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,IN_TREINEIRO,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q025
0,"1,90E+11",Santa Isabel,22,M,1,3,1,1,1,0,...,600.2,0,1.0,160.0,200.0,180.0,200.0,200.0,940.0,B
1,"1,90E+11",Pinhalzinho,19,M,1,3,1,1,1,0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,"1,90E+11",São Paulo,17,F,1,3,1,2,3,0,...,731.8,0,1.0,160.0,120.0,200.0,200.0,200.0,880.0,A
3,"1,90E+11",São Bernardo do Campo,19,M,1,3,1,2,2,0,...,393.2,1,1.0,80.0,160.0,120.0,100.0,100.0,560.0,B
4,"1,90E+11",São Joaquim da Barra,37,M,2,1,1,1,1,0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813767,"1,90E+11",São Paulo,17,F,1,2,1,2,2,0,...,43.2,1,1.0,80.0,120.0,140.0,120.0,100.0,560.0,B
813768,"1,90E+11",São Paulo,17,F,1,3,1,2,2,0,...,487.3,0,1.0,120.0,80.0,60.0,120.0,0.0,380.0,B
813769,"1,90E+11",São Paulo,17,M,1,3,1,2,2,0,...,401.1,0,1.0,160.0,120.0,160.0,140.0,160.0,740.0,A
813770,"1,90E+11",Cajamar,21,F,1,3,1,1,1,0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
813771,"1,90E+11",Araras,18,F,1,1,1,2,2,0,...,559.5,0,1.0,120.0,120.0,120.0,120.0,140.0,620.0,B

In [9]:
df = df.rename(columns={
    'NU_NOTA_REDACAO' : 'NOTA_REDACAO',
    'NU_NOTA_CN' : 'NOTA_CN',
    'NU_NOTA_CH' : 'NOTA_CH',
    'NU_NOTA_LC' : 'NOTA_LC',
    'NU_NOTA_MT' : 'NOTA_MT',
    'NU_NOTA_COMP1' : 'COMP1',
    'NU_NOTA_COMP2' : 'COMP2',
    'NU_NOTA_COMP3' : 'COMP3',
    'NU_NOTA_COMP4' : 'COMP4',
    'NU_NOTA_COMP5' : 'COMP5',
    'NU_IDADE' : 'IDADE',
    'TP_SEXO' : 'SEXO',
    'TP_COR_RACA' : 'RACA',
    'Q025' : 'INTERNET',
    'TP_ESCOLA' : 'ESCOLA'
})

In [10]:
df

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,IN_TREINEIRO,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"1,90E+11",Santa Isabel,22,M,1,3,1,1,1,0,...,600.2,0,1.0,160.0,200.0,180.0,200.0,200.0,940.0,B
1,"1,90E+11",Pinhalzinho,19,M,1,3,1,1,1,0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,"1,90E+11",São Paulo,17,F,1,3,1,2,3,0,...,731.8,0,1.0,160.0,120.0,200.0,200.0,200.0,880.0,A
3,"1,90E+11",São Bernardo do Campo,19,M,1,3,1,2,2,0,...,393.2,1,1.0,80.0,160.0,120.0,100.0,100.0,560.0,B
4,"1,90E+11",São Joaquim da Barra,37,M,2,1,1,1,1,0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813767,"1,90E+11",São Paulo,17,F,1,2,1,2,2,0,...,43.2,1,1.0,80.0,120.0,140.0,120.0,100.0,560.0,B
813768,"1,90E+11",São Paulo,17,F,1,3,1,2,2,0,...,487.3,0,1.0,120.0,80.0,60.0,120.0,0.0,380.0,B
813769,"1,90E+11",São Paulo,17,M,1,3,1,2,2,0,...,401.1,0,1.0,160.0,120.0,160.0,140.0,160.0,740.0,A
813770,"1,90E+11",Cajamar,21,F,1,3,1,1,1,0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
813771,"1,90E+11",Araras,18,F,1,1,1,2,2,0,...,559.5,0,1.0,120.0,120.0,120.0,120.0,140.0,620.0,B

In [11]:
df['RACA'] = df['RACA'].replace({
    0:'nao_declarado',
    1: 'branca',
    2: 'preta',
    3: 'parda',
    4: 'amarela',
    5: 'indigena'
})

In [13]:
df['TP_LINGUA'] = df['TP_LINGUA'].replace({
    0: 'Inglês',
    1: 'Espanhol'
})

In [14]:
df['ESCOLA'] = df['ESCOLA'].replace({
    1: 'não_respondeu',
    2: 'pública',
    3: 'privada',
    4: 'exterior'
})

In [15]:
df['INTERNET'] = df['INTERNET'].replace({
    'A': 'Não',
    'B': 'Sim'
})

In [17]:
df

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,IN_TREINEIRO,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"1,90E+11",Santa Isabel,22,M,1,parda,1,1,não_respondeu,0,...,600.2,Inglês,1.0,160.0,200.0,180.0,200.0,200.0,940.0,Sim
1,"1,90E+11",Pinhalzinho,19,M,1,parda,1,1,não_respondeu,0,...,NaN,Espanhol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Não
2,"1,90E+11",São Paulo,17,F,1,parda,1,2,privada,0,...,731.8,Inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,Não
3,"1,90E+11",São Bernardo do Campo,19,M,1,parda,1,2,pública,0,...,393.2,Espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,Sim
4,"1,90E+11",São Joaquim da Barra,37,M,2,branca,1,1,não_respondeu,0,...,NaN,Espanhol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813767,"1,90E+11",São Paulo,17,F,1,preta,1,2,pública,0,...,43.2,Espanhol,1.0,80.0,120.0,140.0,120.0,100.0,560.0,Sim
813768,"1,90E+11",São Paulo,17,F,1,parda,1,2,pública,0,...,487.3,Inglês,1.0,120.0,80.0,60.0,120.0,0.0,380.0,Sim
813769,"1,90E+11",São Paulo,17,M,1,parda,1,2,pública,0,...,401.1,Inglês,1.0,160.0,120.0,160.0,140.0,160.0,740.0,Não
813770,"1,90E+11",Cajamar,21,F,1,parda,1,1,não_respondeu,0,...,NaN,Espanhol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sim
813771,"1,90E+11",Araras,18,F,1,branca,1,2,pública,0,...,559.5,Inglês,1.0,120.0,120.0,120.0,120.0,140.0,620.0,Sim